.wrapper {
	width: 780px;
	height: 600px;
	margin: 30px auto;
	position: relative;
	display: flex;
	flex-direction: row;
	background-color: white;
}

.card-indicator {
	position: absolute;
	top: 200px;
	left: 80px;
	color: #333;
}

.cards-wrap {
	margin-top: 50px;
	width: 480px;
	height: 475px;
	display: flex;
	flex-direction: row-reverse;
	/* overflow: hidden; */
	position: relative;
}

.card-el {
	height: 125px;
	width: 100px;
	background-color: #015714;
	color: white;
	font-size: 3rem;
	text-align: center;
	line-height: 125px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.card-info {
	width: 300px;
	height: 600px;
	border-left: 1px solid #818181;
}

.card-info-data {
	height: 450px;
	background-color: blue;
}

.card-info-nav {
	height: 150px;
}
